*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ## Colors

// ### Primary

$linearGradient: linear-gradient(#a3a8f0 , #696fdd);

// ### Neutral

$veryLightGrayishBlue: hsl(240, 78%, 98%);
$lightGrayishBlue: hsl(234, 14%, 74%);
$grayishBlue: hsl(233, 13%, 49%);
$darkGrayishBlue: hsl(232, 13%, 33%);